
//fonts
$Testfont: 'Belda, Norma, san-serif';
$Trebuchet: 'Trebuchet MS', Tahoma, sans-serif;


//colors
$Black: #111111;
$Cafe: #BA825A;
$Camel: #BEA07D;
$Cultured: #F6F6F6;
$White: #ffffff;


//header
$headerHeight: 80px;
$fontHeaderSize: 20px;

//border
$borderRadius: 20px;
$borderColor: #707070;

